DB_URI=mongodb+srv://<user>:<password>@cluster0.gsr0eep.mongodb.net/projectguard?retryWrites=true&w=majority
DB_DB=projectguard
JWT_SECRET=replace-with-a-strong-random-secret
PORT=8000
CLIENT_ORIGIN=http://localhost:5173
